.LoginSignupMainContainer {
    overflow: scroll;
    box-sizing: border-box;
    height: calc(100vh - 100px);
}
.LoginSignupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 20px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, 0.82);

    .WelcomeBack {
        font-size: 24px;
        margin-bottom: 8px;
        text-align: center;
    }

    .WelcomeBackInfo {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.85);
        text-align: center;
    }

    .LoginSingupContent {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
        width: 320px;

        input {
            width: 320px;
        }

        .RememberPassword {
            input {
                width: 100% !important;
            }
        }
        .OrSignIn {
            text-align: center;
            opacity: 0.75;
            color: rgba(255, 255, 255, 0.8);
        }
        .Icons {
            display: flex;
            gap: 16px;
            justify-content: center;
            svg {
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                    fill: var(--primary-color);
                }
            }
        }
        .SignupLink {
            text-align: center;
            color: rgba(255, 255, 255, 0.85);
            a {
                text-decoration: none;
                color: var(--primary-color);
            }
        }
    }
}