.AboutUsContainer {
    position: relative;
    .AboutUsTitle {
        font-weight: 500;
        font-size: 36px;
        position: absolute;
        left: 50%;
        letter-spacing: 0.2px;
        transform: translate(-50%, 30px);
    }
    .AboutUsHero {
        padding-top: 90px;
    }
    .AboutUsTeam {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0 50px 0;
        gap: 20px;
        .TeamTitle {
            font-size: 36px;
            font-weight: 500;
        }
        .TeamSubTitle {
            font-size: 16px;
            text-align: center;
        }
    }
    .OurStoryResponsive, .AboutContactUs {
        .BackgroundBox {
            transform: scaleX(-1) scaleY(-1);
        }
    }
    .AllMembers {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        .EachMember {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 400px;
            padding: 16px 28px;
            background: #030014;
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.72);
            .MemberImage {
                width: 66px;
                height: 66px;
                border-radius: 50%;
                overflow: hidden;
                background-color: #D9D9D9;
                flex-shrink: 0;
            }
            .NameDescription {
                display: flex;
                flex-direction: column;
                gap: 2px;
                .MemberDescription {
                    opacity: 0.72;
                    line-height: 24px;
                }
            }
            .MemberName { 
                font-size: 20px;
                font-weight: 500;
            }
            .MemberRole {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    .OurStoryContainer {
        div:nth-child(1) {
            font-size: 38px;
            margin-bottom: 20px;
        }
        div:nth-child(2), div:nth-child(3) {
            font-size: 16px;
            margin-bottom: 16px;
            line-height: 24px;
        }
    }
    .GetInvolvedContainer {
        .GetInvolvedTitle {
            font-size: 38px;
            margin-bottom: 20px;
        }
        .GetInvolvedDescription {
            font-size: 16px;
            margin-bottom: 16px;
            line-height: 24px;
        }
    }
    .AboutContactUs {
        .OurStoryContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 600px) {
    .EachMember {
        padding: 12px 20px !important;
        max-width: 86vw;
    }
}