@import './index.css';
@import '../src/utils/variables.css';

body,
.App {
  font-family: 'Roboto', Arial, sans-serif;
}

body * {
  color: #fff;
}

.App {
  min-height: 100vh;
  background: #030014;
  /* Dark background color */
}

.navbar-container {
  position: sticky !important;
  top: 0;
  z-index: 1000;
}